.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "Header"
                         "Info"
                         "Content"
                         "Footer";
    height: 100vh;
    max-width: 520px;
    margin: 0 auto;
    
    
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: 300px 500px;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "Header Header"
                             "Info  Content"
                             "Info   Footer";
        height: 100vh;
        margin: 10px;
        max-width: 820px;
        margin: 0 auto;
    }

    .Info {
        position: fixed;
        width: 300px;
    }
}

.Header {
    grid-column: span 2;
    grid-area: Header;
    text-align: center;
}

.Info {
    grid-area: Info;
}

.Content {
    grid-area: Content;
}

.Footer {
    grid-area: Footer;
}

body {
    font-family:"Segoe UI",'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 1em;
    margin: 0;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #0079c1;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    margin:0;
}
p {
    line-height: 1.5em;
    color: #333;
}

.tagline{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

ul {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

section {
  padding: 1em;
}

.about-me-section {
  background-color: #fafafa;
  display: block;
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.section-title {
  font-size: 2em;
  position: relative;
  padding-left: 1.5rem;
}

.section-title::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 100%;
    background: #217346;
    position: absolute;
    left: 0;
    top: 0;

}

.mb-1 {
  margin-bottom: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
}

.two-column {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
