<!DOCTYPE html>
	<html lang="fi-fi">
		<head>
			<title>{{ page.title }}</title>
			<meta name="title" content={{ page.title }}>
			<meta name="description" content={{ page.description }}>
			<meta name="language" content="FI">
			<meta name="robots" content="index, follow">
			<meta name="author" content="Teemu Syrjälä">
			<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/T3mmu">github.com/T3mmu</a></li>
				</ul>
			</footer>
		</body>
	</html>
