<!DOCTYPE html>
	<html lang="fi-fi">
		<head>
			<title>{{ page.title }}</title>
			<meta name="title" content="{{ page.title }}">
			<meta name="description" content="{{ page.description }}">
			<meta name="language" content="FI">
			<meta name="robots" content="index, follow">
			<meta name="author" content="Teemu Syrjälä">
			<meta name="viewport" content="width=device-width,initial-scale=1">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
			<link rel="manifest" href="/assets/favicons/site.webmanifest">
			<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#313131">
			<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
			<meta name="msapplication-TileColor" content="#9f00a7">
			<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
			<meta name="theme-color" content="#ffffff">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Etusivu</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<!-- <li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://www.linkedin.com/in/teemusyrjala">LinkedIn</a></li>
				<li><a href="https://github.com/T3mmu">Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
